###############################################################################
# Don't mess with my line endings.
###############################################################################
* -text
src/HtmlGenerator/TypeScriptSupport/lib.d.ts linguist-vendored
