name: CI
on: 
  pull_request:
    branches: 
    - main
  push:
    branches: 
    - main
jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
        # TODO: fix nuget task and enable cross-platform [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - run: dotnet build
      - run: dotnet test --no-build
      - run: ./GenerateTestSite.ps1 /force