<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false" />
    <DisableFXClosureWalk enabled="true" />
    <appDomainManagerType value="Microsoft.SourceBrowser.Common.CustomAppDomainManager"/>
    <appDomainManagerAssembly value="Microsoft.SourceBrowser.Common"/>
  </runtime>
</configuration>